<div class="contact-information pb-5 middle-information">
  <nav class="my-5 bg-light-blue d-inline-block w-100">
    <div class="container">
      <div class="row">
        <div class="p-2 font-22 text-white text-center">
          COMPLETE
        </div>
      </div>
    </div>
  </nav>

  <ul class="d-flex justify-content-between processing-data p-0 m-auto">
    <li class="col p-0 d-inline-block text-center position-relative active"><span
        class="process-count m-auto bg-white text-dark-blue font-16
        d-inline-block">1</span> <span class="d-inline-block w-100
        text-dark-blue
        font-14 mt-1 font-weight-medium">REGISTER</span></li>
    <li class="col p-0 d-inline-block text-center position-relative active active-complete"><span
        class="process-count m-auto bg-white text-dark-blue font-16
        d-inline-block">2</span> <span class="d-inline-block w-100
        text-dark-blue
        font-14 mt-1 font-weight-medium">SUBMIT INFO</span></li>
    <li class="col p-0 d-inline-block text-center position-relative active"><span
        class="process-count m-auto bg-white text-dark-blue font-16
        d-inline-block">3</span> <span class="d-inline-block w-100
        text-dark-blue
        font-14 mt-1 font-weight-medium">COMPLETE</span></li>
  </ul>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="p-4 mx-form-lg m-auto bg-white border-dark-gray rounded-10">
          <div class="mb-3 font-22 font-weight-medium text-dark-gray">Thank
            you for registering!</div>
          <div class="font-16 text-light-gray line-height-lg
            mb-0">
            you should recieve a confirmation email momentarily containing
            additional details
          </div>
        </div>
      </div>
    </div>
  </div>
